<div class="features">
    <div class="feature">
        <div class="featureIcon">
            <span class="fa-stack fa-1x">
                <i class="iconBack fas fa-circle fa-stack-2x"></i>
                <i class="iconTop fas fa-mobile fa-stack-1x"></i>
            </span>
        </div>
        <div class="featureText">
            <h4>
                Feature 1
            </h4>
            <p>
                Use Siri Shortcuts and x-callback-url for automation.
            </p>
        </div>
    </div>

    <div class="feature">
        <div class="featureIcon">
            <span class="fa-stack fa-1x">
                <i class="iconBack fas fa-circle fa-stack-2x"></i>
                <i class="iconTop fas fa-adjust fa-stack-1x"></i>
            </span>
        </div>
        <div class="featureText">
            <h4>
                Feature 2
            </h4>
            <p>
                Kiwi that well dolphin alas this the mindfully jeepers.
            </p>
        </div>
    </div>

    <div class="feature">
        <div class="featureIcon">
            <span class="fa-stack fa-1x">
                <i class="iconBack fas fa-circle fa-stack-2x"></i>
                <i class="iconTop fas fa-cloud fa-stack-1x"></i>
            </span>
        </div>
        <div class="featureText">
            <h4>
                Feature 3
            </h4>
            <p>
                One preparatory up less therefore hello oh amid.
            </p>
        </div>
    </div>

    <div class="feature">
        <div class="featureIcon">
            <span class="fa-stack fa-1x">
                <i class="iconBack fas fa-circle fa-stack-2x"></i>
                <i class="iconTop fas fa-expand-arrows-alt fa-stack-1x"></i>
            </span>
        </div>
        <div class="featureText">
            <h4>
                Feature 3
            </h4>
            <p>
                Use Siri Shortcuts and x-callback-url for automation.
            </p>
        </div>
    </div>

    <div class="feature">
        <div class="featureIcon">
            <span class="fa-stack fa-1x">
                <i class="iconBack fas fa-circle fa-stack-2x"></i>
                <i class="iconTop fas fa-history fa-stack-1x"></i>
            </span>
        </div>
        <div class="featureText">
            <h4>
                Feature 5
            </h4>
            <p>
                Use Siri Shortcuts and x-callback-url for automation.
            </p>
        </div>
    </div>

    <div class="feature">
        <div class="featureIcon">
            <span class="fa-stack fa-1x">
                <i class="iconBack fas fa-circle fa-stack-2x"></i>
                <i class="iconTop fas fa-database fa-stack-1x"></i>
            </span>
        </div>
        <div class="featureText">
            <h4>
                Feature 6
            </h4>
            <p>
                Use Siri Shortcuts and x-callback-url for automation.
            </p>
        </div>
    </div>
</div>