<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
window.hasLocalScreenshot = false;
window.hasLocalVideo = false;
window.localScreenshotUrls = [];
</script>

{% assign screenshot_path = 'assets/screenshots/' | append: page.slug %}
{% assign video_path = 'assets/videos/' | append: page.slug %}

<script>
window.localScreenshotUrls = [
{% for file in site.static_files %}
    {% if file.path contains screenshot_path %}
        {% if file.extname == ".png" or file.extname == ".jpg" or file.extname == ".jpeg" or file.extname == ".webp" %}
    "{{ file.path | relative_url }}",
        {% endif %}
    {% endif %}
{% endfor %}
];
if (window.localScreenshotUrls.length) {
    window.hasLocalScreenshot = true;
}
</script>

{% for file in site.static_files %}
    {% if file.path contains video_path %}
        {% unless file.path contains 'Place-video-files-here.txt' %}
            <script>
                window.hasLocalVideo = true;
            </script>
        {% endunless %}
        {% if file.extname == ".mov" or file.extname == ".mp4" %}
            <script>
                $(function() {
                    window.hasLocalVideo = true;
                    $(".iphoneScreen").addClass("hidden");
                    $(".videoContainer").removeClass("hidden");
                    $(".screenshotControls").addClass("hidden");
                    $("#screenshotMeta").addClass("hidden");
                    $(".screenvideo").append('<source src="{{ file.path | relative_url }}" type="video/mp4">');
                });
            </script>
        {% elsif file.extname == ".ogg" %}
            <script>
                $(function() {
                    window.hasLocalVideo = true;
                    $(".iphoneScreen").addClass("hidden");
                    $(".videoContainer").removeClass("hidden");
                    $(".screenshotControls").addClass("hidden");
                    $("#screenshotMeta").addClass("hidden");
                    $(".screenvideo").append('<source src="{{ file.path | relative_url }}" type="video/ogg">');
                });
            </script>
        {% elsif file.extname == ".webm" %}
            <script>
                $(function() {
                    window.hasLocalVideo = true;
                    $(".iphoneScreen").addClass("hidden");
                    $(".videoContainer").removeClass("hidden");
                    $(".screenshotControls").addClass("hidden");
                    $("#screenshotMeta").addClass("hidden");
                    $(".screenvideo").append('<source src="{{ file.path | relative_url }}" type="video/webm">');
                });
            </script>
        {% endif %}
    {% endif %}
{% endfor %}
