$content-width: 800px;
$main: #00ff33;
$font-style: 'Helvetica Neue', sans-serif;
$font-color: #000;
$link-color: #00ff33;
$link-hover-color: $main;
$heading-font: 'Helvetica Neue', sans-serif;
$heading-font-color: #000;
$light: #e6e6e6;
$header:  #ccc;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}