$content-width: 1140px;
$accent-color: #00ff33;

$font: 'Helvetica Neue', sans-serif;
$primary-text-color: #000;
$secondary-text-color: #000;

$link-color: #00ff33;
$link-color-hover: #00ff33;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}