body {
	box-sizing: border-box;
	margin: 0;
	font-family: $font;
	font-size: 1.1em;
}

.container {
	display: grid;
	max-width: $content-width;
	padding-left: 15px;
	padding-right: 15px;
	grid-column-gap: 50px;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 500px 1000px 200px;
	grid-column-gap: 30px;
	grid-template-areas: 
		"h h h h h h h h h h h h"
		"c c c c c c c c c c c c"
		"f f f f f f f f f f f f";
}

header {
	display: grid;
	grid-area: h;
	background-color:rgb(0, 255, 13);
}

.features {
	grid-area: c;
	background-color:rgb(255, 208, 0);
}

footer {
	grid-area: f;
	background-color:rgb(255, 2, 2);
}