body {
	box-sizing: border-box;
	margin: 0;
	font-family: $font;
}

.imageWrapper {
	width: 100%;
	height: 500px;
	background: 
		linear-gradient(
		rgba(#363b3d, 0.3), 
		rgba(#363b3d, 0.3)
   		),
		/* bottom, image */
		url("/assets/headerimage.png");

	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: top;
	border-radius: 0px 0px 40px 40px;
}

.headerBackground {
	width: 100%;
	height: 115px;
	background-color: rgba(#000000, 0.1);
}

.container {
	display: grid;
	margin: auto;
	max-width: $content-width;
	padding-left: 15px;
	padding-right: 15px;
	grid-column-gap: 50px;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 115px 590px 1000px 200px;
	grid-column-gap: 30px;
	grid-template-areas: 
		"h h h h h h h h h h h h"
		"p p p p p p i i i i i i"
		"c c c c c c c c c c c c"
		"f f f f f f f f f f f f";
}

header {
	grid-area: h;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 115px;
}

.logo {
	grid-column: 1 / span 6;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: #fff;
	height: 115px;
}

.headerIcon {
	width: 50px;
	height: 50px;
	-webkit-clip-path: url(#shape);
	clip-path: url(#shape);
	margin-right: 15px;
}

nav {
	grid-column: 7 / span 6;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: #fff;
	height: 115px;
}

nav > ul {
	display: flex;
	list-style-type: none;
	padding: 0px;
}

nav > ul li {
	padding-left: 50px;
}

nav > ul li:first-child {
	padding-left: 0px;
}

nav > ul li a {
	text-decoration: none;
	color: #fff;
}

.iphonePreview {
	grid-area: p;
}

.appInfo {
	grid-area: i;
	display: flex;
}

.appIconLarge {
	width: 120px;
	height: 120px;
	-webkit-clip-path: url(#shape120);
	clip-path: url(#shape120);
}

.appNamePriceContainer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.appName {
	display: flex;
	margin-top: 0px;
	color: #fff;
}

.appPrice {
	display: flex;
	color: #fff;
	font-weight: normal;
}

.features {
	grid-area: c;
	background-color:rgb(255, 208, 0);
}

footer {
	grid-area: f;
	background-color:rgb(255, 2, 2);
}