body {
	box-sizing: border-box;
	margin: 0;
	font-family: $font;
	font-size: 1.1em;
}

.container {
	display: grid;
	margin: auto;
	max-width: $content-width;
	padding-left: 15px;
	padding-right: 15px;
	grid-column-gap: 50px;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 500px 1000px 200px;
	grid-column-gap: 30px;
	grid-template-areas: 
		"h h h h h h h h h h h h"
		"c c c c c c c c c c c c"
		"f f f f f f f f f f f f";
}

header {
	grid-area: h;
	background-color:rgb(0, 255, 13);

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas: "logo nav";
}

.logo {
	grid-area: logo;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 60px;
	background-color: rgb(56, 56, 56);
}

nav {
	grid-area: nav;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 60px;
	background-color: #000;
}

nav > ul {
	display: flex;
	list-style-type: none;
}

nav > ul li:nth-last-child(1n-1) {
	padding-left: 30px;
}

.features {
	grid-area: c;
	background-color:rgb(255, 208, 0);
}

footer {
	grid-area: f;
	background-color:rgb(255, 2, 2);
}